<div id="home-page">

  <h1 id="home-heading">SOLO PROJECT BRIEF</h1>

  <div id="container-div">


    <div id="container-one">

      <div id="brief-div">

        <h3>Record Store</h2>

        <p>The owner of a Record Store wants an app which will help to keep on top of the store inventory. This is not an app that customers will see, but will be used to check stock levels and see what needs to be ordered soon.

          You should be able to add stock, which would have an Artist and Album as well as the quantity available.

          CSS styling only to be used.</p>

        </div>

        <div id="mvp-div">
          <h3>MVP:</h3>

          <ul id="mvp-list">
            <li class="home-list">Create albums with the quantity that are in stock.</li>
            <li class="home-list">Create artists.</li>
            <li class="home-list">Show an inventory page listing albums and artists.</li>
            <li class="home-list">Show a stock level for the inventory items e.g. High/Medium/Low.</li>
          </ul>
        </div>
      </div>

      <div id="container-two">

        <h3>Additional features added:</h3>

        <ul id="additional-list">
          <li class="home-list">Added a cost and store price property to Albums.</li>
          <li class="home-list">Added genre property to Albums.</li>
          <li class="home-list">Added a genre page for Albums.</li>
          <li class="home-list">Added release year property to Albums.</li>
          <li class="home-list">Added a release year page for Albums.</li>
          <li class="home-list">Added album artwork property for all Albums.</li>
          <li class="home-list">Added search bar, which returns Albums based on Artist and Album name.  Protected against case sensitivity and duplicate results.</li>
          <li class="home-list">Added delete and edit functions.</li>
          <li class="home-list">When an Album is deleted, if no further associated Albums exist, the Artist is also deleted.</li>
          <li class="home-list">Sorting added for each property on Inventory page.</li>
          <li class="home-list">Edit function pre-populates existing details.</li>
          <li class="home-list">Total cost value, store  value and stock-level added to inventory page.</li>
          <li class="home-list">Delete and edit functions utilise 'datalists' and allow existing Artists & Genres to be selected - preventing against input error and duplication.</li>
        </ul>
      </div>

    </div>
  </div>
