<h1>Stock-Take</h1>

<p>Total Album Stock:         <%=Album.total_album_stock_level%> </p>
<p>Total Album Cost Value:  £ <%=Album.total_album_cost_price%>  </p>
<p>Total Album Store Value: £ <%=Album.total_album_store_price%> </p>
