.filter_name  {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 25px;
  font-size: 20px;
  border: 5px;
  margin: 0px;
}

.album_container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  word-break: normal;
  /* flex-grow: 1; */
}

.album_cell {
  padding: 20px;
  margin: 5px;
  text-align: left;
  display: inline-block;
  width: 200px;
  word-break: normal;
  /* flex-grow: 1; */
}

p#title {
  width: 200px;
}

.album_image {
  transition:all 0.3s ease-out;
}

.album_image:hover {
  transform:scale(1.03);
}

.album-field {
  font-weight: bold;
}

a.artist-link {
  text-decoration: none;
}

a.artist-link:hover {
  color: darkgray;
}
