.artist_container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  word-break: normal;
}

.artist_cell {
  padding: 20px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  width: 150px;
  word-break: normal;
}
