.form {
  padding-top: 50px;
  display:flex;
  justify-content: center;
}

ul.edit_list {
  width: 35%;
  padding-left: 10px;
}

.form-row {
  display: flex;
  padding: 2px;
}

.form-row > input {
  flex: 1;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: black;
  padding: 10px;
  font-size: 12px;
}

::placeholder {
  color: black;
}
