.form {
  padding-top: 30px;
  display:flex;
  justify-content: space-between;
  padding-left: 15px;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
}
.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
  text-align: left;
}
.form-row > input {
  flex: 2;
}
.form-row > input,
.form-row > button {
  padding: 10px;
}
.form-row > button {
 background: darkgray;
 color: whitesmoke;
 border: 10px;
}

ul.edit_list {
  width: 40%;
  padding-left: 10px;
}
