div#home-page {
  padding-right: 200px;
  padding-left: 200px;
}

#home-heading {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#container-div {
  display: flex;
}

#container-one {
  display: flex;
  flex-direction: column;
}

#container-two {
  /* display: flex; */
  padding-left: 65px;
}

#mvp-list{
  list-style: circle;
  /* padding-left: 10px; */
  width: 375px;
}

#additional-list {
  list-style: circle;
  width: 425px;
}

div#brief-div {
  width: 375px;
}
