div#home-page {
  padding-right: 200px;
  padding-left: 200px;
}

#home-heading {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

div#home-lists {
  display: flex;
  justify-content: space-between;
  padding-right: 200px;
  overflow: scroll;
  height: 240px;
}

li.home-list {
  width: 385px;
  list-style: circle;
}

#mvp-list{
  list-style: circle;
  padding-left: 10px;
}

#additional-list {
  list-style: circle;
}
