.inventory td, .inventory th {
  border: 1px solid #ddd;
  padding: 8px;
}

.inventory tr:nth-child(even){background-color: #f2f2f2;}

.inventory tr:hover {background-color: #ddd;}

.inventory th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: darkgray;
  color: white;
}

.inventory_table {
  display: flex;
  justify-content: center;
  align-content: center;
}

.centre {
  text-align: center;
}

.left {
  text-align: left;
}
