.search_container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  word-break: normal;
}

.search_cell {
  padding: 10px;
  margin: 5px;
  text-align: left;
  display: inline-block;
  width: 200px;
  word-break: normal;
}

h1.no_result {
  display: flex;
  justify-content: center;
  align-content: center;
}
