body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: black;
  background-color: whitesmoke;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: darkgray;
}

a:active {
  color: black;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  width: 200px;
  background-color: whitesmoke;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: darkgray;
  color: whitesmoke;
}

form.search_container {
  padding-right: 15px;
}
