body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: black;
  background-color: whitesmoke;
}

input[type=submit], input[type=text] {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

input[type=text] {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: darkgray;
}

/* selected link */
a:active {
    color: black;
}
