<% @artists.each do |artist| %>
 <p>Artist:  <%= artist.name %> </p>

 <form action="/home/artists/<%= artist.id %>" method="get">
 <input type="submit" value="Show All Albums">
 </form>

 <hr/>

<% end %>
