<div class ="artist_container">
<% @artists.each do |artist| %>
<div class="artist_cell">
  <p> <%= artist.name %> </p>
  <form action="/home/artists/<%= artist.id %>" method="get">
    <input type="submit" value="Show All Albums">
  </form>
</div>
<% end %>
</div>
